__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
.docs-venv
uv.lock
rlinf/envs/maniskill/assets
PKG-INFO
*.egg-info/
.claude/settings.json

/profile/
outputs

# local config
/examples/embodiment/config/wan_libero_spatial_grpo_openvlaoft_ngpu.yaml
/examples/embodiment/config/opensora_libero_spatial_grpo_openvlaoft_ngpu.yaml
/rlinf/models/embodiment/early_stop_model/early_stop_model_train.yaml